@import url("https://use.typekit.net/dlr1npg.css");
#lennertvg {
    font-family: "sirenia", sans-serif;
    overflow: hidden;
    position: relative;
    height: 400vh;
    .box {
        z-index: -2;
        background-size: cover;
        display: flex;
        place-items: center;
        .bg {
            opacity: 0;
        }
    }
    
    h1 {
        margin-top: 2vh;
        text-align: center;
        letter-spacing: 3px;
    }
    h2 {
        text-align: center;
    }
    p {
        width: 20vw;
    }
    .part1 {
        margin-left: 75vw;
        margin-top: 18vh;
        text-align: right; 
    }
    .part2 {
        margin-left: -20vw;
        margin-top: 50vh;
        text-align: left;
        height: 10vh;
    }
    .part3 {
        margin-left: 120vw;
        margin-top: 18vh;
        text-align: right; 
    }
    .part4 {
        margin-left: -10vw;
        margin-top: 50vh;
        text-align: left;
        height: 30vh;
    }
    .part5 {
        margin-left: 120vw;
        margin-top: 18vh;
        text-align: right; 
    }
    
    



    .plane {
        position: absolute;
        z-index: 1;
        height: 200px;
    }
    .plane1 {
        left: -15vw;
        transform: rotate(-90deg);
    }
    .mars {
        position: absolute;
        left: 120vw;
        height: 200px;
        z-index: 1;
    }
    .satelite {
        position: absolute;
        left: -10vw;
        z-index: 1;
        height: 100px;
    }
    .rocket1 {
        transform: rotate(90deg);
        height: 200px;
        z-index: 2;
        opacity: 0;
    }
    .big-rocket {
        position: absolute;
        left: 30vw;
        height: 50vh;
    }
    .moon {
        width: 500vw;
        position: absolute;
        left: -500vw;
       
        // opacity: 0;
    }
    .spacefill {
        height: 100vh;
    }
    .cloud {
        position: absolute;
        width: 20vw;
    }
    .cloud-1 {
        top: 10vh;
        left: -20vw;
    }
    .cloud-2 {
        width: 15vw;
        top: 52vh;
        right: -20vw;
    }
    .cloud-3 {
        top: 70vh;
        left: 10vw;
    }
    .wright {
        width: 25vw;
        position: absolute;
        top: 70vh;
        right: -30vw;
        border-radius: 1rem;
    }
}